* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #202020;
  --secondary-bg-color: #404040;
  --text-color: #eee;
  --shadow-bg: rgba(255, 255, 255, 0.1);
}
.container {
  display: flex;
}
.sidebar {
  flex-basis: 5%;
  height: 100vh;
  background: var(--main-bg-color);
  color: white;
  overflow-y: auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  flex-basis: 95%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.menu > div {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > div:hover {
  background: var(--shadow-bg);
}

.sidebar .sub-menu {
  padding: 10px;
}
.sub-menu h1 {
  margin-bottom: 10px;
}
.sub-menu .searchbar {
  width: 100%;
  display: flex;
  border: solid 1px var(--main-bg-color);
  background: var(--secondary-bg-color);
  margin-bottom: 10px;
}
.sub-menu .searchbar input {
  flex-basis: 90%;
  padding: 0.6rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 1rem;
}
.sub-menu .searchbar input::placeholder {
  color: var(--text-color);
}
.sub-menu .searchbar div {
  flex-basis: 10%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.sub-menu .note-holder {
  height: 150px;
  background: var(--secondary-bg-color);
  color: var(--text-color);
  margin-bottom: 10px;
}
.sub-menu .note-holder:hover {
  background: #515151;
}
.note-holder .line {
  height: 0.5rem;
  width: 100%;
}
.note-holder .dot-menu {
  font-size: 1.4rem;
  padding-right: 10px;
  text-align: right;
  display: none;
}
.note-holder .note-date {
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  padding: 10px 10px 10px 0;
}
.note-holder .note-text {
  width: 100%;
  height: 100px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0 20px 20px;
  color: var(--text-color);
  overflow: hidden;
  font-size: 1rem;
}
.note {
  width: 330px;
  height: 330px;
  background: var(--main-bg-color);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
}
.note .note-head {
  display: relative;
}
.note .note-head .unseen-menu {
  position: absolute;
  background: var(--secondary-bg-color);
  color: var(--text-color);
}
.note .note-head .unseen-menu > div {
  display: flex;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(1) {
  background: #d7ad04;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(2) {
  background: #5eae54;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(3) {
  background: #da7db5;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(4) {
  background: #a477d1;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(5) {
  background: #53b3d8;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(6) {
  background: #8e8e8e;
}
.unseen-menu div:nth-of-type(1) div:nth-of-type(7) {
  background: #505050;
}
.note .note-head .unseen-menu div:nth-of-type(1) > div {
  width: 47px;
  padding: 25px 0;
  text-align: center;
}

.note .note-head .unseen-menu div:nth-of-type(2),
.unseen-menu div:nth-of-type(3) {
  padding: 20px 0;
}
.unseen-menu div:nth-of-type(1) > div:hover,
.unseen-menu div:nth-of-type(2):hover,
.unseen-menu div:nth-of-type(3):hover {
  background: var(--shadow-bg);
}
.note .note-head .unseen-menu div:nth-of-type(2) svg,
.unseen-menu div:nth-of-type(3) svg {
  margin: 0 10px;
}

.note .note-head .seen-menu {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  background: green;
  height: 35px;
}
.note .note-head .seen-menu div {
  text-align: center;
  padding: 0 10px;
  height: 100%;
}
.note .note-head .seen-menu .close-menu,
.seen-menu .close-menu {
  text-align: center;
  padding: 0 10px;
  height: 100%;
}
.note .note-head .seen-menu div:nth-of-type(1):hover,
span:hover {
  background: var(--shadow-bg);
}
.note .note-body {
  height: 255px;
}
.note .note-body textarea {
  height: 100%;
  width: 100%;
  background: var(--margin-);
  padding: 10px;
  outline: none;
  font-size: 1rem;
  color: var(--text-color);
}
.note .note-foot {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid gray;
}
.note .note-foot > svg {
  height: 100%;
  width: 100%;
  fill: var(--text-color);
  padding: 8px;
}
.note .note-foot > svg:hover {
  background: var(--shadow-bg);
}

.sidebar-maximize {
  flex-basis: 35%;
}
.row {
  flex-direction: row;
  justify-content: space-between;
}
.sidebar-minimize {
  flex-basis: 8%;
}
.content-maximize {
  flex-basis: 92%;
}
.content-minimize {
  flex-basis: 65%;
}

@media (max-width: 700px) {
  .note {
    margin: 0 5;
  }
  .sub-menu .searchbar input {
    padding: 0.6rem 0.2rem 0.6rem 0.2rem;
  }

  .sub-menu .searchbar div {
    position: relative;
    left: -10px;
    width: 16px;
  }
}
